body {
    margin: 0;
}
.mobol{
    width: 100%;
    height: 100%;
}
.mobol form{
    height: 100%;
    padding-top: 50px;
    display: block;
    
}
.mobol form.dirty {
    padding-bottom: 75px;
}
.mobol form #submit{
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: -75px;
    left: 0;
    border: 0 none;
    background: tomato;
    text-transform: uppercase;
    color: #fff;
    outline: 0 none;
    z-index: 100;
}
.mobol form.dirty #submit{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.mobol form.dirty #submit.success{
    background: #27af27;
}

.mobol form ul#instafeed{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.mobol form ul#instafeed li{
    list-style: none;
    float: left;
    margin: 0;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}
.mobol form ul#instafeed li input[type=checkbox]{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
}
.mobol form ul#instafeed li input[type=checkbox] + label{
    height: auto;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    box-sizing: border-box;
    border: 0 transparent;
    -webkit-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
}
.mobol form ul#instafeed li label img{
    -webkit-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
    width: 100%;
    height: auto;
    display: block;
}
.mobol form ul#instafeed li input[type=checkbox]:checked + label img{
    -webkit-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
    -webkit-filter: blur(10px);
}
.mobol form ul#instafeed li input[type=checkbox]:checked + label{
    -webkit-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s;
    border: 3px solid #f95338;
    box-sizing: border-box;
} 
.actions {
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.actions>div {
    display: table-cell;
    vertical-align: middle;
}
.actions button {
    height: 50px;
    width: 100%;
}

#fullscreen {
    display: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}